body {
    background: #dfdfdf;
}

p {
    color: #222222;
}

.foto-principal {
    width: 200px;
    border: 2px solid #FFFFFF; /* shorthand */
    border-radius: 50%;
    /* imaginar um relógio top, right, bottom, left*/
    margin: 30px 30px 30px 30px; /* espaçamento externo! */
    padding: 10px;/* espaçamento interno! */
}